/* ^^^^^^^^^^^^^------^^^^^^^^^^^^--------^^^^^^^^^^^Trial code area ^^^^^----^^^^^^^^ */

/*--------------------------------------- all paged are link with following codes --------------------------------------- */
@media (max-width: 600px) {
    .sidebar {
      display: none;
    }
    .bg-video{
      display: none;
    }
    .bg-clr{
      display: none;
    }
  }
  /* for the logo in mobile view*/
  @media (min-width:601px) {
    #rtlog-mbl{
      display: none;
    }
    #dropdownMenu{
      display: none;
    }
  }
/* this is the media screen visiblity of hamburger menu in mobile hor any device having width less tahn 600px */
@media (max-width:600px) {
  
.mbl-menu{
    background-color: transparent;
    width: 100%;
    height: 50px;
    z-index: 2;
}
/* mobile view logo */
#rtlog-mbl{
  height: 100px;
  width: 100px;
}
/* This is the code for hamburger menu and cross transformation*/
.container-hmbr {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(255, 217, 0);
    padding: 5px;
    width: 40px;
    border-radius: 10px;
    z-index: 2;
  }
  
  .bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Hide the dropdown menu initially */
  .hmbr-menue-list {
    display: none;
    position: relative;
    top: -90px;
    right: 0;
    background-color: #646464;
    color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 15px 20px rgba(0,0,0,4);
    z-index: 1;
    animation: dropdownAnimation 0.5s;
    border-radius: 15px;
  }

  @keyframes dropdownAnimation {
    0% {
      opacity: 0.1;
      background-color: #606060;
    }
  
    10% {
      opacity: 0.2;
      background-color: #aeaeae;
    }
  
    20% {
      opacity: 0.3;
      background-color: #b5b4b4;
    }
  
    30% {
      opacity: 0.4;
      background-color: #acaaaa;
    }
  
    40% {
      opacity: 0.6;
      background-color: #b8b8b8;
    }
  
    50% {
      opacity: 0.7;
      background-color: #a4a3a3;
    }
  
    60% {
      opacity: 0.8;
      background-color: #dadcdc;
    }
  
    70% {
      opacity: 0.9;
      background-color: rgb(139, 138, 138)

    }
    100%{
        opacity: 1;
        background-color: #646464;
    }
}

  .hmbr-menue-list p {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .hmbr-menue-list p a{
    color: #ffffff;
    text-decoration: none;
  }
  
}
/* the hamburger menue end here */

*{
    padding: 0;
    margin: 0;
}
.bg-video{
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: blur(4px);
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100vw;
}
#rtlog{
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 10px;
} 

/*
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}
*/

.sidebar {
    width: 100%;
    height: 8vh;
    background-color: #000000;
    position: fixed;
    top: 0;
}
#hm{
    padding-left: 80px;
    background-clip: content-box;
}
.sidebar p {
    display: inline;
    padding: 0px;
    margin-top: 90px;
    line-height: 80px;
}
.sidebar .active{
    font-weight: bold;
    font-family: sans-serif;
    background-color: #756262;
}
.sidebar p a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s ease-in-out; 
}
.sidebar p a:hover {
    color: #f73f3f;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* hehe (..) */
@keyframes hoverAnimation {
    0% {
      transform: translateY(0);
      background-color: #ff0000;
      padding: 0;
    }
    100% {
      transform: translateY(-10px);
      background-color: rgb(255, 255, 255);
      padding: 20px 20px 10px 20px;
    }
  }
  
  .sidebar p a:hover {
    animation: hoverAnimation 0.5s ease-in-out;
  }

  
/* --------------------------------------------------------- left bar -------------------------------------------------*/

img{
    width: 100px;
    height: 100px;
    margin-bottom: 2.5cm;
}
#hm{
    margin-left: 1cm;
    margin-bottom: 2.5cm;
}
#about{
    margin-left: 1cm;
    margin-bottom: 2.5cm;
}
#projects{
    margin-left: 1cm;
    margin-bottom: 2.5cm;
}
#contact{
    margin-left: 0.7cm;
    margin-bottom: 2.5cm;
}

/* --------------------------------------- home page content --------------------------------------- */

#home{
    color: #fa3838;
    text-align: center;
}
#home2{
    color: #fa3838;
    text-align: center;
}
#hcnt{
    color: #39f9e6;
    font-family: cursive;
    font-size: 0.5cm;
    padding: 4px;
    padding-left: 20px;
}
#hccnt{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5cm;
    padding: 4px;
    padding-left: 20px;
}
#myimg{
    border-radius: 70%;
    align-content: center;
    margin-bottom: -5px;
    margin-top: 2cm;
}
#name{
    text-align: center;
    color: #a5ff4b;
    margin-bottom: 50px;
    font-size: larger;
}
#namehr{
    width: 100%;
    margin-top: -45px;
}
#cmpname{
    text-align: center;
    color: azure;
    margin-bottom: 1cm;
}
#cmphr{
    width: 100%;
    margin-top: -35px;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
#hmcont{
    color: azure;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#hmlog{
    height: 20cm;
    width: 13cm;
}
.content-1{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
/* --------------------------------------- skill bar --------------------------------------- */
.content-abt{
  padding-bottom: 40px;
    padding-top: -90px;
    background-color: #4e4e4e;
    overflow-x: hidden;
    overflow-y: hidden;
}
#myskl{
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
}
#skl{
    text-align: center;
    padding-left: 20px;
    color: aliceblue;
    margin-top: 2cm;
}
.containerskl{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(221, 183, 183);
  }
  
  .Programming {width: 90%; background-color: #202020; border-radius: 10px;}
  .Photography {width: 80%; background-color: #202020; border-radius: 10px;}
  .photoshop {width: 65%; background-color: #202020; border-radius: 10px;}

  .row {
    margin-top: 3cm;
    height: 3cm;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 10px;
  }
  
  .col-md-3 {
    margin-top: 0.5cm;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .number-box {
    text-align: center;
    padding: 20px;
  }
  
  .number {
    font-size: 30px;
    font-weight: bold;
  }
  
  .label {
    font-size: 14px;
    color: #797979;
  }
  #resume{
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 1cm;
    height: 30px;
    width: 5cm;
    background-color: #ffffff;
    border-radius: 100px;
  }
  #rsmtxt{
  margin-left: 15px;
  }
  /*--------------------------------------- now for the project page ---------------------------------------*/
#marquee-proj{
    background-color: #ffffff;
    margin-left: -20px;
    margin-right: -10px;
    margin-top: -20px;
    font-family: 'Courier New', Courier, monospace;
}
.content-proj {
    width: 100%;
    height: 90%;
    padding-top: 90px;
    background-color: #4e4e4e;
    overflow-x: hidden;
    overflow-y: hidden;
}
  #prj{
    color: rgb(255, 255, 255);
    text-align: center;

}
#pcnt{
    font-size: 0.7cm;
    color: #62f1e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regspanar', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#under-maintainance{
    margin-top: 50px;
    text-align: left;
    color: #f10000;
    padding: 20px;
}
#under-maintainance1{
    padding: 20px;
    text-align: left;
    color: #ffffff;
    font-size: 17px;
    margin-top: -20px;
}
#pic-left-project{
    display: block;
    margin-left: auto;
    margin-right: 0;
    height: auto;
    width: 500px;
}

/*
#pic-left-project{
width: 15cm;
height: 15cm;
margin-top: -6cm;
margin-left: 17cm;
}
*/
/*--------------------------------------- now for the contact page ---------------------------------------*/
.contentcnt{
  padding-top: 90px;
  padding-bottom: 40px;
    object-fit: cover;
    width: 100%;
    height: 90%;
    padding-top: -90px;
    background-color: #4e4e4e;
    overflow-x: hidden;
    overflow-y: hidden;
}
#feelfree{
    text-align: center;
    color: rgb(129, 185, 235);
    font-family: cursive;
    margin-top: -20px;
}
.contact-frm{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.wrap-cnt{
    height: 13cm;
    width: 245px;
    background-color: #ffffff;
    padding-top: 1cm;
    padding-right: 4cm;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#wrap-title{
    height: 90px;
    width: 396px;
    background: linear-gradient(-135deg, rgb(34, 191, 249), rgb(232, 72, 72));
    text-align: center;
    padding-top: 20px;
    border-radius: 15px 15px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.input_box{
    width: 100%;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
}
.input_box input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    padding: 7px 0px;
    background-color: #ffffff;
}
.input_box label{
    position: absolute;
    left: 0px;
    font-size: 25px;
    top: 8px;
    pointer-events: none;
    transition: 0.5s;
}
.input_box input:focus + label,
.input_box input:valid + label{
    top: -15px;
    font-size: 18px;
    background-color: rgb(227, 245, 251);
    color: rgb(76, 76, 249)
}

/*
#contact-img{
height: 15cm;
width: 16cm;
display: block;
margin-left: auto;
margin-right: 0;
}
*/

 #submit-rpt{
    background: linear-gradient(-135deg, rgb(34, 249, 52), rgb(232, 72, 72));
    color: #ffffff;
    font-size: large;
    width: 175px;
    height: 50px;
    margin-top: 70px;
    margin-left: 3cm;
    border-radius: 100px;
 }
