@media screen and (max-width:650px){
    p{
        font-size: small;
    }
    #main-cnt-btm{
        margin-left: -50px;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    color: black;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
} 
.outline{
    outline:auto;
    height: 567px;
    width: 600px;
    outline-color: aquamarine;
    padding: 30px 40px 150px 40px;
}
button{
    float: right;
    margin-right: 20px;
    background-color: white;
    border-radius: 50px;
    border-color: blue;
}
button:hover{
    cursor: pointer;
    background-color: black;
    border-color: crimson;
    color: white;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
} 
.photo{
    border-radius: 70%;
    height: 6cm;
    margin-top: 20px;
    margin-left: 20px;
    filter: blur(2px);
}
.name{
    margin-top: -5cm;
    margin-left: 7cm;
    margin-bottom: -16px;
    font-family: monospace;
    font-size: 35px;
    margin-bottom: 20px;
}
#coding{
    height: 15px;
    width: 15px;
    margin-left: 270px;
}
#wb-developing{
    margin-left: 295px;
    font-weight: bold;
    margin-top: -20px;

}
#location{
    height: 15px;
    width: 15px;
    margin-left: 270px;
}
#lctn{
    margin-left: 295px;
    margin-top: -20px;
    font-weight: bold;
}
.exp{
    margin-top: 3cm;
    font-family: 'Courier New', Courier, monospace;
}
#html{
    margin-top: -10px;
}
#skills{
    width: 15cm;
    height: 15px;
    background-color: rgb(78, 206, 210);
    border-radius: 20px;
}
#h-skills{
    text-align: right;
    background-color: rgb(255, 0, 0);
    width: 14cm;
    height: 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
#css-skills{
    text-align: right;
    height: 15px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    width: 12cm;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
#js-skills{
    text-align: right;
    height: 15px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    width: 6cm;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

#rt-cnt{
margin-left: 27cm;
margin-top: -12cm;
color: aliceblue;
margin-right: 1cm;
}

hr{
    margin-top: 20px;
    width: 680px;
}
#btm-logo{
    height: 3cm;
    margin-bottom: 30px;
}
#btm-lctn{
    margin-left:-100px;
    height: 30px;
    font-size: 20px;
}
#sd-cnt{
    margin-top: -30px;
    margin-left: 80px;
}
#main-cnt-btm{
    margin-top: -105px;
    font-family: cursive;
    font-size: xx-large;
    margin-left: 130px;
}
#rht-btm{
    padding-left: 460px;
    margin-top: -110px;
    font-family: 'Courier old', Courier, monospace;
}
a{
    color: rgb(58, 111, 209);
}
.Aboutme{
    margin-top: 95px;
    margin-bottom: -50px;
    padding-left: 80px;
    font-weight: 600;
    border-radius: 20px;
    font-size: xx-large;

}
.prm-txt{
    margin-top: 90px;
    margin-bottom: -90px;
    padding-left: 80px;
    font-weight: 600;
    border-radius: 20px;
    font-size: xx-large;
    display: flex;
    color:rgb(0, 157, 255);
}
.Aboutme .first-text{
    animation: animate-abt 5s infinite ease-in-out;
}
/* was use to make the typing effect 
.Aboutme .first-text::before{
    content: "";
    position: absolute;
    height: 37px;
    width: 180px;
    background-color: rgb(255, 0, 0);
    border-left: 2px solid blue;
    animation: animate-abt 2s infinite;
}  */
@keyframes animate-abt {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

/* a part of typing effects animation
@keyframes animate-abt {
    0% {
        left: 240px;
    }
    20%{
        left: 280px;
    }
    40%{
        left: 310px;
    }
    60%{
        left: 345px;
    }
    70%{
        left: 395px;
    }
    80%{
        left: 410px;
    }
    100%{
        left: 430px;
    }
}
*/
/* marquee about me 
#marquee{
    display: none;
    margin-top: 40px;
    margin-bottom: -50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(239, 126, 126);
}
*/
/* here is the css for unwanted part of web */ 
.unwanted{
    text-align: right;
    background-color: black;
    height: 825px;
    margin-top: -820px;
    margin-left: 700px;
    display:none;
}
